<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header>
      <h1></h1>
      <form action="" method="post">
        <input type="search" name="" id="">
      </form>
      <a href="">Anmelden</a>
      <a href="">Registrieren</a>
    </header>
      {{template "body" .Data}}
    <footer>
      <a href="">Kontakt</a>
      <a href="">Impressum</a>
      <a href="">Datenschutz</a>
      <a href=""></a>
      <p></p>
    </footer>
    <script src=""></script>
  </body>
</html>
